<div class="user-details">
  <h1> Featured Apps </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="QuoteIcon" src="{{ "/assets/img/QuoteIconR.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Brilliance </h3>
    <ul>
      <li> Motivational Quotes</li>
    </ul>
    <p> Studying for a test? Have a deadline coming up? Just need some encouraging words throughout the day? Now with Brilliance you can have quotes from the greatest minds in our history pushed to your phone at set times a day to encourage you to just give a little more. Put things in perspective. Crush your goals. Ultimately achieve anything you want to do!</p>
    <a class="project-link" href="https://itunes.apple.com/us/app/brilliance-motivational-quotes/id1332578279?mt=8"target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="ComingSoonIcon" src="{{ "/assets/img/ComingSoonIcon.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Coming Soon </h3>
    <ul>
      <li> This could be your app.</li>
    </ul>
    <p>Follow us for the latest updates! </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<!-- Test -->
<div class="container">  
  <form id="contact" action="" method="post">
    <h3>Colorlib Contact Form</h3>
    <h4>Contact us for custom quote</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Web Site (optional)" type="url" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
  </form>
</div>
