#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

//colors
$color_celeste_approx: #ccc;
$color_apple_approx: #4caf50;
$white: white;
$concrete: #f2f2f2;

//@extend-elements
//original selectors
//input[type=text], select, textarea
%extend_1 {
	width: 100%;
	padding: 12px;
	border: 1px solid $color_celeste_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}


input[type=text] {
	@extend %extend_1;
}
select {
	@extend %extend_1;
}
textarea {
	@extend %extend_1;
}
input[type=submit] {
	background-color: $color_apple_approx;
	color: $white;
	padding: 12px 20px;
	border: none;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	cursor: pointer;
	&:hover {
		background-color: $color_apple_approx;
	}
}
.container {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	background-color: $concrete;
	padding: 20px;
}
